@import "../../styles/variables.scss";

.resume {
  display: flex;
  padding-bottom: 40px;
  h2 {
    color: $salmon;
  }
}

.resumeDownloadArea {
  display: flex;
}

.pdfIconContainer {
  margin-right: 16px;
  margin-left: 16px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 105px;
  width: 82px;
  border-radius: 4px;
  &:hover {
    box-shadow: $cardShadow;
  }
  &:active {
    box-shadow: none;
  }
}

.resumeDownloadLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    text-decoration: none;
    color: $salmon;
  }
  a:hover {
    text-decoration: underline;
  }
  a:visited {
    color: $salmon;
  }
  a[title="John Enderby Résumé - Notion version"] {
    margin-bottom: 8px;
  }
}

@media (max-width: 700px) {
  .resume {
    h3 {
      font-size: 32px;
    }
  }
}

@media (max-width: 613px) {
  .resume {
    h3 {
      font-size: 24px;
      line-height: 38px;
    }
  }
}

@media (max-width: 534px) {
  .resume {
    flex-direction: column;
    .content {
      margin-bottom: 16px;
    }
    .pdfIconContainer {
      margin-left: 0;
      width: 40px;
      height: 52px;
      svg {
        width: 40px;
        height: 52px;
      }
    }
    h3 {
      display: none;
    }
  }
}
