.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 754px;
  min-width: 100%;
  div {
    padding: 0 0 72px;
    p {
      margin-bottom: 8px;
    }
    h1 {
      margin-bottom: 16px;
    }
  }
  img {
    max-width: 455px;
    max-height: 516px;
  }
}
