@import "../../styles/variables.scss";

.cardContainer {
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  text-decoration: none;
  color: $textDefault;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
  transition: all 0.1s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}

.socialIcon {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.socialCardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  .socialHeader {
    display: flex;
    align-items: center;
    h5 {
      line-height: 21px;
      margin-right: 16px;
    }
    .sharingInfo {
      color: $subText;
    }
  }
}

.Twitter:hover {
  box-shadow: 0 0 5px -2px rgba(60, 175, 234, 0.1),
    0 0 10px 1px rgba(60, 175, 234, 0.07), 0 0 16px 1px rgba(60, 175, 234, 0.25);
}

.Dribbble:hover {
  box-shadow: 0 0 5px -2px rgba(230, 91, 139, 0.1),
    0 0 10px 1px rgba(230, 91, 139, 0.07), 0 0 16px 1px rgba(230, 91, 139, 0.25);
}
.Spotify:hover {
  box-shadow: 0 0 5px -2px rgba(30, 215, 96, 0.1),
    0 0 10px 1px rgba(30, 215, 96, 0.07), 0 0 16px 1px rgba(30, 215, 96, 0.25);
}
.GitHub:hover {
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.1), 0 0 10px 1px rgba(0, 0, 0, 0.07),
    0 0 16px 1px rgba(0, 0, 0, 0.33);
}
.LinkedIn:hover {
  box-shadow: 0 0 5px -2px rgba(10, 102, 194, 0.1),
    0 0 10px 1px rgba(10, 102, 194, 0.07), 0 0 16px 1px rgba(10, 102, 194, 0.25);
}
