.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 754px;
  min-width: 100%;
  div {
    padding: 0 0 72px;
    p {
      margin-bottom: 8px;
    }
    h1 {
      margin-bottom: 16px;
    }
  }
  svg {
    max-width: 455px;
    max-height: 516px;
  }
}

@media (max-width: 725px) {
  .hero {
    flex-direction: column;
    padding: 80px 0;
  }
}

@media (max-width: 500px) {
  .hero {
    div {
      padding: 0 0 80px;
      width: calc(100vw - 32px);
      p {
        margin: 0;
      }
      h1 {
        font-size: 40px;
        margin: 0;
      }
    }
  }
}
