@import "../../../styles/variables.scss";
.playerVideos {
  padding: 80px 0;
  h2 {
    color: $FanDuel;
    margin-bottom: 17px;
  }
  h3 {
    width: 496px;
    margin-bottom: 23px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  p {
    display: block;
    width: 496px;
  }
}

.playerVideoIcon {
  position: relative;
  svg {
    margin-bottom: -2px;
  }
}

.playerVideosImages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    filter: drop-shadow(0 11px 15px rgba(0, 0, 0, 0.25));
  }
  .playerVideos1,
  .playerVideos2 {
    width: 243px;
    height: 484px;
  }
  .playerVideos3 {
    width: 504px;
    height: 405px;
  }
}
