.sectionWrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.white {
  background-color: white;
}

.grey {
  background-color: #f0f3f7;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  width: 1024px;
}

.skewHome {
  box-sizing: content-box;
  transform: rotate(-6deg);
  position: relative;
  z-index: 100;
  width: 100%;
  margin-top: -1065px;
  margin-bottom: 120px;
  padding: 0 200%;
}

.skewFanDuel {
  transform: rotate(-6deg);
  position: relative;
  z-index: 100;
  width: 100%;
  margin-top: -100px;
  margin-bottom: 100px;
  overflow: hidden;
}

.skewBack {
  transform: rotate(6deg);
}

@media (max-width: 1023px) {
  .skewHome {
    margin-top: 0;
  }
  .sectionWrapper {
    justify-content: unset;
  }
  .contentWrapper {
    overflow: auto;
  }
}
