@import "../../styles/variables.scss";

.modalOverlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.33);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  .modalContainer {
    height: 75vh;
    width: 75vw;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    color: $textDefault;
    border-radius: 8px;
    overflow: scroll;
    background-color: white;
    position: relative;
    box-shadow: $cardShadow;
    overflow-y: scroll;
    .buttonWrapper {
      display: flex;
      position: absolute;
      top: 16px;
      right: 111px;
      .closeButton {
        border: 1px solid $salmon;
        border-radius: 4px;
        font-size: 16px;
        padding: 8px 16px;
        color: $salmon;
        background: none;
        position: fixed;
        cursor: pointer;
        &:hover {
          span {
            animation: spin 1.5s infinite;
          }
        }
        span {
          display: inline-block;
          margin-right: 4px;
        }
      }
    }
    .content {
      width: 100%;
      height: 708px;
      padding: 48px 32px;
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        h1 {
          display: inline-block;
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 1024px) {
  .modalOverlay {
    .modalContainer {
      width: 768px;
    }
  }
}
@media (max-width: 800px) {
  .modalOverlay {
    .modalContainer {
      width: calc(100vw - 32px);
    }
  }
}
