@import "../../styles/variables.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: calc(100vw - 32px);
  padding: 0 16px;
  margin-top: 40px;
}

// .togglePlaceholder {
//   height: 29px;
//   width: 52px;
//   border-radius: 29px;
//   background: #ffffff;
//   background-image: linear-gradient(
//     131deg,
//     rgba(246, 79, 89, 0.5) 0%,
//     rgba(196, 113, 237, 0.5) 37%,
//     rgba(18, 194, 233, 0.5) 100%
//   );
// }

@media (max-width: 750px) {
  header {
    justify-content: center;
    margin-top: 24px;
  }
}

@media (max-width: 522px) {
  header {
    display: none;
  }
}
