@import "../../../styles/variables.scss";

.about {
  margin-top: 152px;
  margin-bottom: 100px;
  h2 {
    color: $purple;
    margin-bottom: 17px;
  }
  h3 {
    width: 496px;
    margin-bottom: 23px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  p {
    display: block;
    width: 496px;
  }
}

br {
  display: block;
  margin: 20px;
  content: " ";
}

.socialBoxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}
