@import "../../../styles/variables.scss";
.work {
  padding: 120px 0 0 0;
  position: relative;
  h2 {
    color: $fuchsia;
    margin-bottom: 17px;
  }
  h3 {
    width: 496px;
    margin-bottom: 23px;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  p {
    display: block;
    width: 496px;
  }
}

.workExamples {
  position: relative;
  left: -30px;
  top: -140px;
  display: grid;
  grid-template-columns: 250px 250px 214px 250px;
  grid-template-rows: 140px 358px 100px 68px 150px 100px;
  gap: 40px;
  a {
    text-decoration: none;
    &:visited {
      color: $FanDuel;
    }
  }
  .workExample {
    filter: drop-shadow(0 11px 15px rgba(0, 0, 0, 0.3));
  }
  .narrow {
    width: 250px;
  }
  .wide {
    width: 504px;
  }
  .winFromHome {
    grid-area: 3 / 2 / 6 / 2;
  }
  .upsell {
    grid-area: 2 / 4 / 2 / 4;
    align-self: end;
  }
  .anythingBook {
    grid-area: 2 / 1 / 3 / 1;
  }
  .createGame {
    grid-area: 2 / 2 / 2 / 3;
  }
  .pickemTemplate {
    grid-area: 4 / 1 / 6 / 1;
  }
  .questionCollections {
    grid-area: 3 / 3 / 4 / 4;
  }
  .f2pGames {
    grid-area: 6 / 3 / 7 / 4;
  }
}
