@import "../../styles/variables.scss";
.fdHero {
  padding: 40px 0 80px 0;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  h2 {
    color: $FanDuel;
    margin-bottom: 17px;
  }
  h3 {
    max-width: 496px;
    margin-bottom: 23px;
  }
}
.contentWrapper {
  padding: 0 8px 0 0;
  width: 512px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;
  p {
    display: block;
    max-width: 496px;
    margin-bottom: 8px;
  }
  p.small {
    margin-bottom: 0;
  }
}

.fdLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 512px;
  svg {
    width: 240px;
    height: 236px;
  }
}

@media (max-width: 950px) {
  .fdHero {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    .contentWrapper {
      padding: 0;
      width: 100%;
    }
  }
}
