@import "../../styles/variables.scss";

.cardContainer {
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  text-decoration: none;
  color: $textDefault;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;
}

.socialIcon {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.socialCardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  .socialHeader {
    display: flex;
    align-items: center;
    h5 {
      line-height: 21px;
      margin-right: 16px;
    }
    .sharingInfo {
      color: $subText;
    }
  }
}
