.spreadNumber {
  font-family: var(--font-heading);
  font-weight: var(--font-weight-semibold);
  font-stretch: var(--font-width-75);
  font-size: var(--font-size-section);
}

.paper {
  color: var(--color-amethyst-500);
}

.ink {
  color: var(--color-paper-50);
}
